.image_editor{
    width: 203vh;
    height: 100vh;
    background-color:#e1e6ef ;
    display: flex;
    .editor{
        width: 20%;
        padding:28px 15px 0px 0px;
        background-color: #fff;
        height: 100%;
        box-shadow: 0 8px 16px 0 rgb(201, 201, 201);
        .editor_header{
            text-align: center;
            padding-bottom: 15px;
            h2{
                text-transform: uppercase;
                color: #e52fcf;
            }
        }
        .editor_body{
            display: flex;
            justify-content: center;
            .sidebar{
                width: 100%;
                .side_body{
                    border: 1px solid red;
                    padding-left: 14px;
                    height: 300px;
                    .filter_key{
                        margin-top: 20px;
                        display: grid;
                        gap:5px;
                        button_sepia.active{
                            background-color:rgb(84, 93, 216);
                            color: #fff;
                        }
                        button_sepia{
                            padding:8px ;
                            background-repeat: 3px;
                            border: 1px solid #dad7d7;
                            cursor: pointer;
                            color: #404040;
                            text-transform: capitalize;
                        }
                    }
                    .filter_slider{
                        margin: 15px 0;
                        .label_bar{
                            margin-bottom: 4px;
                            display: flex;
                            justify-content: space-between;
                            label,span{
                                color: #404040;
                                font-size: 15px;
                                text-transform: capitalize;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    
    

}