.nav{
    background-color: #1e1f21;
    display :flex;
    justify-content : space-between;
    align-items: center;
    gap: 2rem;
    padding:0 1rem;
  }
  .nav ul {
    padding :0;
    margin: 0;
    list-style :none;
    display :flex;
    gap : 1rem;
  }
  .nav a{
    color:white;
  }
  .left-nav { 
    display:flex;
    
  }

.right-icon {
  margin: 0 5px;
}

.left-icon {
  margin: 0 5px;
  order: -1;
}
  

  .site-title{
    width:300px;
  }